// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

@font-face {
  font-family: 'OstrichBlack';
  src: url('/fonts/ostrich-black.woff') format("woff"), url('/fonts/ostrich-black.ttf') format("truetype");
  font-weight: normal !important;
  font-style: normal;
}

@font-face {
  font-family: 'OstrichBold';
  src: url('/fonts/ostrich-bold.woff') format("woff"), url('/fonts/ostrich-bold.ttf') format("truetype");
  font-weight: normal !important;
  font-style: normal;
}

@font-face {
  font-family: 'Ostrich';
  src: url('/fonts/ostrich-regular.woff') format("woff"), url('/fonts/ostrich-regular.ttf') format("truetype");
  font-weight: normal !important;
  font-style: normal;
}

//$sans: "Menlo", sans-serif;
$serif: "PT Sans" "Helvetica Neue", Arial, sans-serif !important;
//$mono: "Courier", monospace;
$heading-font-family: "OstrichBlack";
$header-title-font-family: "OstrichBlack";
$header-subtitle-font-family: "OstrichBlack";

.main-navigation a {
  font-family: 'OstrichBlack' !important;
}

.sidebar h1 {
  font-family: 'OstrichBlack' !important;
}

.meta {
  font-family: 'OstrichBlack' !important;
}


